<section>
  <div class="section-header">
    <div class="container">
      <h2>Contact Us</h2>
      <link rel="stylesheet" href="static/contact.css" />
      <p>
        Mess Mate is a mess providing service that provides you with the best
        quality food at the best price. We assure fresh and healthy food to our
        customers. We are always ready to help you. If you have any queries or
        complaints, feel free to contact us. We are always ready to help you.
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="contact-info">
        <div class="contact-info-item">
          <div class="contact-info-icon">
            <i class="fas fa-home"></i>
          </div>

          <div class="contact-info-content">
            <h4>Address</h4>
            <p>
              K Narayanapura, Kothanur,<br />
              Banglore, Karnataka, India, <br />560077
            </p>
          </div>
        </div>

        <div class="contact-info-item">
          <div class="contact-info-icon">
            <i class="fas fa-phone"></i>
          </div>

          <div class="contact-info-content">
            <h4>Phone</h4>
            <p>+91 8547083733</p>
          </div>
        </div>

        <div class="contact-info-item">
          <div class="contact-info-icon">
            <i class="fas fa-envelope"></i>
          </div>

          <div class="contact-info-content">
            <h4>Email</h4>
            <p>abhijitsudheer2005@gmail.com</p>
          </div>
        </div>
      </div>

      <div class="contact-form">
        <form action="" id="contact-form">
          <h2>Send Message</h2>
          <div class="input-box">
            <input type="text" required="true" name="" />
            <span>Full Name</span>
          </div>

          <div class="input-box">
            <input type="email" required="true" name="" />
            <span>Email</span>
          </div>

          <div class="input-box">
            <textarea required="true" name=""></textarea>
            <span>Type your Message...</span>
          </div>

          <div class="input-box">
            <input type="submit" value="Send" name="" />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
